In [9]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [13]:
df = pd.read_csv('..\Dados\MICRODADOS_ENEM_2022.csv', encoding = 'latin1', sep= ';', decimal = ',')
filtro_presenca = (df['IN_TREINEIRO'] == 0) & (df['TP_PRESENCA_CN'] == 1) & (df['TP_PRESENCA_CH'] == 1) & (df['TP_PRESENCA_LC'] == 1) & (df['TP_PRESENCA_MT'] == 1) & (df['TP_STATUS_REDACAO'] >= 0)
df[filtro_presenca]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
7,210055778089,2022,6,F,1,2,1,1,0,1,...,B,A,A,C,A,A,E,A,A,B
9,210055461467,2022,4,F,1,3,1,1,1,1,...,A,A,A,B,A,A,B,A,A,B
11,210054972570,2022,2,F,1,1,1,2,0,3,...,A,A,A,B,A,A,C,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3476095,210057138057,2022,12,M,2,1,1,1,7,1,...,B,A,A,B,A,B,C,A,A,B
3476097,210055398098,2022,11,F,1,2,1,1,11,1,...,A,A,A,B,A,A,B,A,B,B
3476098,210055668087,2022,2,M,0,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
3476099,210055303118,2022,11,F,1,1,1,1,11,1,...,A,A,B,B,B,A,C,A,A,A
3476102,210056699189,2022,2,M,1,1,1,2,0,2,...,B,A,B,C,B,A,E,A,B,B